# Data Science Ecosystem

This notebook is the final assignment of Data Science Tools.

**Objectives:**
- Arithmetic expression examples
- List popular languages for Data Science
- List some development environments open source tools used in data science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow
4. ggplot
5. dplyr

| Data Science Tools |
| ------- |
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python
* 1+5
* 2*11
* 100-72

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Anna Erd≈ësi